.bg{
  background-color: rgba(255, 255, 255, 0.805);
  backdrop-filter:blur(10px) ;
}
.first-slider .carousel-indicators [data-bs-target]{
  width: 30px;
  height: 30px;
  background: rgb(16, 9, 9);
  border-radius: 50%;
  box-sizing: border-box;
}
.logo{
  width: 50px;
}
iframe{
  width: 100%;
  height: 200px;
}
body{
  overflow-x: hidden;
}